*~
*egg-info
*.pyc
__pycache__/
.cache/
.coverage
coverage.xml
.osfcli.config
.eggs/
.idea

#tests
.pytest_cache/
# docs build output
docs/_build

# local build output
build/
dist/
#venv
venv/
.vscode