*~
*egg-info
*.pyc
__pycache__/
.cache/
.coverage
coverage.xml

# ide config
.idea

# virtualenv support
venv/

# tests
.pytest_cache/

# build output
build/
dist/
.eggs/
docs/_build

# app config
.osfcli.config
