*~
*egg-info
*.pyc
__pycache__/
.cache/
.coverage
coverage.xml
.osfcli.config
.eggs/

#tests
.pytest_cache/
# docs build output
docs/_build

# ide config
.idea

# virtualenv support
venv/

# tests
.pytest_cache/

# build output
build/
dist/

.vscode

# app config
.osfcli.config
